.header__color {
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 10px;
  
}



.header .header__logo img {
  z-index: 5;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}
.header .menu__link {
  position: relative;
}
.header .menu__link:hover::before {
  position: absolute;
  content: "";
  bottom: -10px;
  border-radius: 30px;
  width: 100%;
  height: 3px;
  background-color: #FCBC00;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.header .menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header .menu__icons :hover {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}



/****************adapdive-header**********************/
@media (max-width: 938px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .header__logo img {
    z-index: 5;
    width: 65px;
  }
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .menu__icons {
    position: absolute;
    top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .menu__icons .menu__tel img {
    width: 25px;
  }
  .menu__icons .menu__telegram img {
    width: 33px;
  }
}
@media (max-width: 666px) {
  /************buttons-burger**************************/
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .menu__icons {
    position: static;
    width: 0;
    padding-right: 85px;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  .menu__icons .menu__tel img {
    width: 30px;
  }
  .menu__icons .menu__telegram img {
    width: 40px;
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 20px;
  }
  .icon-menu__line,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
  }
  .menu-open .icon-menu__line {
    display: none;
  }
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
    border-radius: 30%;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu__line {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu__line {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  /**************************************/
  .menu__body {
    position: fixed;
    width: 60%;
    height: 100%;
    bottom: 0;
    right: -400%;
    padding-top: 50px;
    -webkit-transition: right 0.7s;
    transition: right 0.7s;
    background-color: rgba(0, 0, 0, 0.862745098);
    overflow: auto;
  }
  .menu-open .menu__body {
    right: 0;
  }
  /*************burger-text*************************/
  .header__logo {
    z-index: 5;
  }
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 23px;
    margin-top: 10px;
    min-height: 50%;
    padding-right: 50px;
    padding-left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 10px;
  }
  .menu-open .menu__icons {
    display: none;
  }
  .menu__link {
    color: rgba(238, 238, 238, 0.9333333333);
  }
  .menu__link:hover::after {
    display: none;
  }
}